---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to UTOSS!</h1>
			<p>
				Welcome to the official University of Toronto Open Source Student's Club website. This club is
				meant to encourage students of all disciplines to contribute to Open Sourced hardware and software.
			</p>

			<p>Here are our current projects!</p>
			<ul>
				<li>Risc V Processor --> Hardware</li>
				<li>Development Board --> Hardware></li>
				<li>Firefox --> Software</li>
				<li>Outreach</li>
			</ul>
			<p>
				Have fun! Remember to
				<a href="https://www.instagram.com/ut_oss/">follow us on instagram</a>
				and <a href="https://discord.gg/P9RP9kk68x">join us on Discord</a> to become a member.
			</p>
		</main>
		<Footer />
	</body>
</html>
