---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="centered-text">Welcome to UTOSS!</h1>
			<p>
				Welcome to the official University of Toronto Open Source Student's Club website. This club is
				meant to encourage students of all disciplines to contribute to Open Sourced hardware and software.
			</p>

			<p>Here are our current projects!</p>
			<ul>
				<li>Risc V Processor --> Hardware</li>
				<li>Development Board --> Hardware></li>
				<li>Firefox --> Software</li>
				<li>Outreach</li>
			</ul>

			<h3 class="centered-text">Check out our Upcoming Events!</h3>
			<iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&ctz=America%2FToronto&showPrint=0&showTitle=0&mode=WEEK&src=dXRvc3MuZXhlY3NAZ21haWwuY29t&src=ZjAzZjY2ZjA4NzZjMTY3YjVjMGFmOWYyYjc1ZTc3NWEyZDc5ZTU2YzNlZmFhZGVlZDk1MWUzY2RmY2ZkMzFkNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039be5&color=%23e67c73&color=%230b8043" style="border-width:0" width="800" height="500" frameborder="0" scrolling="no"></iframe>
			<p>
				Have fun! Remember to
				<a href="https://www.instagram.com/ut_oss/">follow us on instagram</a>
				and <a href="https://discord.gg/P9RP9kk68x">join us on Discord</a> to become a member.
			</p>
		</main>
		<Footer />
	</body>
</html>
